@model IEnumerable<ProductManagement.Models.Product>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Product/ResponsiveTable.css" rel="stylesheet" />
</head>
<body>
    <h2>Products Management</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table role="table">
        <thead role="rowgroup">
            <tr role="row">
                <th role="columnheader">
                    Category Name
                </th>
                <th role="columnheader">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th role="columnheader">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th role="columnheader">
                    @Html.DisplayNameFor(model => model.NumberInStock)
                </th>
                <th role="columnheader"></th>
            </tr>
        </thead>

        <tbody role="rowgroup">
            @foreach (var item in Model)
            {
                <tr role="row">
                    <td role="gridcell">
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td role="gridcell">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td role="gridcell">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td role="gridcell">
                        @Html.DisplayFor(modelItem => item.NumberInStock)
                    </td>
                    <td role="gridcell">
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="paged-list-pager">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
    </div>
</body>
</html>