@model IEnumerable<ProductManagement.Models.User>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/User/ResponsiveTable.css" rel="stylesheet" />
</head>
<body>
    <h2>Users Management</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table role="table">

        <thead role="rowgroup">
            <tr role="row">
                <th role="columnheader">
                    RoleName
                </th>
                <th role="columnheader">
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th role="columnheader">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th role="columnheader">
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th role="columnheader">
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th role="columnheader"></th>
            </tr>
        </thead>

        <tbody role="rowgroup>
            @foreach (var item in Model)
            {
                <tr role="row">
                    <td role="gridcell">
                        @Html.DisplayFor(modelItem => item.Role.Name)
                    </td>
                    <td role="gridcell">
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td role="gridcell">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td role="gridcell">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td role="gridcell">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td role="gridcell">
                        <a href="/Admin/Users/Edit/@item.ID"><img style="width:18px; height:18px" src="~/Assets/Admin/img/edit.svg" title="Edit user"/></a>|
                        <a href="/Admin/Users/Details/@item.ID"><img style="width:18px; height:18px" src="~/Assets/Admin/img/search.svg" title="Details user"/></a>|
                        <a href="/Admin/Users/Delete/@item.ID"><img style="width:18px; height:18px" src="~/Assets/Admin/img/bin.svg" title="Delete user"/></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
